body, html, main {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
} 

.title-line {
    margin-top: 0px !important;
    margin-bottom: 70px ;
    width: 60px;
    border : 1px solid #75A6F0;
}
i.page-icon {
    color: #09C924;
    position: absolute;
    top: 94%;
    left: 8%;
}

/**active page**/
.active {
    border-color: dodgerblue !important;
    border-radius: 2px;
}


.btn-primary {
    color: white;
    background: dodgerblue;
    padding: 7px 20px !important;
    font-size: 16px;
    border-radius: 2px !important;
    border: 1px solid transparent !important;
}
.btn-primary:hover {
    color: dodgerblue !important;
    background: transparent !important;
    border: 1px solid dodgerblue !important;
}

nav {
    border: 0px !important;
    transition: all 0.5s ease-in-out;
}
nav .navbar-brand h3, nav .navbar-brand i {
    padding: 0 !important;
    margin: 0 !important;
}

nav .navbar-brand {
    height: 100% !important;
    width: 175px;
    margin-left: 20px;
    margin-top: 14px;
}


nav .navbar-brand a, footer p a{
    text-decoration: none !important;
}
nav .navbar-nav {
    margin: 11px 0 10px 0 !important;
    padding: 0 !important;
}
nav .navbar-nav a{
    text-decoration: none !important;
    padding: 6px 15px !important;
    border: 1px solid transparent;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

nav .navbar-nav a:not(#contact-btn):hover {
    border-color: dodgerblue !important;
    border-radius: 2px;
}

#contact-btn {
    margin-left: 10px !important;
    color: white !important;
    background: dodgerblue !important;
    border-radius: 2px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
}

.navbar-toggle{
    margin-top: 12px !important;
    border: 0 !important;
    border-radius: 2px !important;
}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
    background: transparent !important;
}


.nav-dropdown-background {
    background: white;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-link-dropdown-color {
    color: rgba(0, 0, 0, 0.4) !important;
}

@media(max-width: 767px){
    #contact-btn {
        top: 0 !important;
        margin-left: 0px !important;
        width: 140px;
        float: right;
        margin-top: 20px;
        text-align: center;
    }
    .navbar-nav > li > a {
        text-align: center;
    }

    .title-line {
        margin-top: 0px !important;
        margin-bottom: 40px ;
        width: 100px; 
    }
}

@media(max-width: 400px){
    nav .navbar-brand a h3{
        font-size: 20px;
    }
}
/**footer**/
footer {
    background: black;
    padding-top: 15px;
    color: white;
}

footer i {
    color: white !important;
    font-size: 16px;
    margin: 0px ;
}
footer ul {
    margin-top: 0px;
}

footer a {
    color: white;
}