
/**nav stylings are in the general.css**/

/**header stylings**/
header {
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
header .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.52);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
#showcase .owl-item {
    width: 100%;
    max-height: 600px !important;
}

#showcase .owl-item img {
    max-height: 600px;
}

header .owl-item div.welcome_info {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    color: white;
}
header .owl-item div.welcome_info p {
    font-size: 17px;
    line-height: 1.6;
}

i.page-icon {
    color: dodgerblue;
    position: absolute;
    top: 87%;
    left: 10%;
    z-index: 3;
}

@media(max-width: 600px) {
    header .owl-item div.welcome_info h1{
        font-size: 26px;
    }
    header .owl-item div.welcome_info p{
        font-size: 16px;
    }
}




@media(max-width: 450px) {
    #showcase {
        overflow-x: hidden;
    }
    header .overlay {
        height: 290px;
        width: 100%;
    }
    header .owl-item div.welcome_info {
        top: 45%;
    }
    #showcase .owl-item img {
        height: 290px;
        width: 451px;
        overflow-x: hidden !important;
    }
    header .owl-item h1 {
        font-size: 25px;
        color: white;
    }
    header .owl-item div.welcome_info p{
        font-size: 15px;
    }

}

@media(max-width: 400px){
    #showcase .owl-item img {
        height: 280px;
        width: 401px;
        overflow-x: hidden !important;
    }

    header .overlay {
        height: 280px;
        width: 100%;
    }

    header .owl-item div.welcome_info h1{
        font-size: 20px;
    }
    header .owl-item div.welcome_info p{
        font-size: 14px;
    }

}

/*main content*/
/*services */
#services {
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 150px;
}

#services .thumbnail {
    padding: 0px !important;
    border-radius: 0px !important;
    border: 0 !important;
}

#services .thumbnail img {
    width: 100%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
#services .thumbnail .caption span {
    font-size: 15px;
}

#services h3 {
    color: black !important;
    margin-top: 30px;
}


#services i {
    color: #09C924;
}

#services .thumbnail .caption {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#services .thumbnail .poster {
    cursor: pointer;
    position: relative !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#services .thumbnail .poster .overlay-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(30,144,255, 0.4);
    opacity: 1;
    padding: 4%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
#services .thumbnail .poster .overlay-info .dark_product_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.6);
    opacity: 1;
    padding: 4%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    -ms-animation-duration: 0.8s;
}

#services .thumbnail .poster .overlay-info p {
    margin-top: 30%;
    color: white;
}

#services .thumbnail:hover .overlay-info {
    opacity: 1;
}

@media(max-width: 768px) and (min-width: 390px){
    #services .thumbnail {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 770px){
    #services {
        padding-top: 30px;
        margin-top: 0px;
        padding-bottom: 50px;
        margin-bottom: 0px;
    }

    #services h2 {
        font-size: 20px;
    }
    #services .title-line {
        margin-bottom: 20px;
    }
}

#hori_line {
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    margin: 0px;
    padding: 0px;
    border-width: 2px;
    border-color: dodgerblue;
    position: absolute;
    left:-30%;
    right: -30%;
    margin-top: 5px;
}

/**industries section**/
#industries {
    padding-top: 150px;
    padding-bottom: 150px;
    background: white;
}

.circle-bordered {
    display: inline-block;
    font-size: 22px !important;
    line-height: 80px;
    width: 85px;
    border: 2px solid dodgerblue;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 15px;
}
.industry-icons {
    color: #2C61EA;
}

@media(max-width: 770px) {
    #industries {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    #industries h2 {
        font-size: 22px;
    }
    #industries .title-line {
        margin-bottom: 50px;
    }
}



/**why adeptal **/
#why_adeptal {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url('../images/index-img/adeptal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

#why_adeptal .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.52);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#why_adeptal .content {
    padding-bottom: 30px;
    padding-top: 30px;
}

@media(max-width: 770px) {
    #why_adeptal {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #why_adeptal h2 {
        font-size: 22px;
    }
    #why_adeptal .title-line {
        margin-bottom: 40px;
    }

}

/**testimonies**/
#testimony {
    padding: 130px 0 100px 0;
    background: dodgerblue;
}

#testimony i, #testimony h3, #testimony p {
    color: white;
}
#testimony .testimony-carousel .item h4 {
    color: white;
}
#testimony .title-line {
    border-color: white !important;
}

@media(max-width: 770px) {
    #testimony {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    #testimony h2 {
        font-size: 22px;
    }
    #testimony .title-line {
        margin-bottom: 50px;
    }
}

/**working at adeptal**/
#working_at_adeptal {
    padding-top: 150px;
    padding-bottom: 150px;
    background: white;
}

#working_at_adeptal h2 {
    color: rgba(0, 0, 0, 0.8);
}

#working_at_adeptal hr {
    border-color: dodgerblue !important;
}

#working_at_adeptal h4 {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 16px !important;
}


@media(max-width: 770px) {
    #working_at_adeptal {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #working_at_adeptal h2 {
        font-size: 22px;
    }
    #working_at_adeptal .title-line {
        margin-bottom: 40px;
    }

    #working_at_adeptal h4 {
        line-height: 1.5 ;
        margin-bottom: 20px;
        font-size: 14px !important;
    }
}


