
header #ie_and_edge_header {
    visibility: hidden;
    display: none;
}
/**nav stylings are in the general.css**/
/**header stylings**/

header {
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    background: white;
}
header .overlay {
    position: absolute;
    background: rgba(128,0,128, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
#showcase .owl-item {
    width: 100%;
    max-height: 550px !important;
}
#showcase .owl-item img {
    max-height: 550px;
}
header div.header_info {
    position: absolute;
    top: 48%;
    right: 0;
    left: 0;
    color: white;
}
header div.header_info p {
    color: whitesmoke;
    font-size: 19px;
    line-height: 1.6;
}
header div.header_info i {
    color: #09C924;
}
i.page-icon {
    top: 87%;
    z-index: 3;
}
@media(min-width: 768px) {
    header div.header_info {
        right: 23%;
        left: 23%;
    }
}
@media(max-width: 650px) {
    header div.header_info h1{
        font-size: 26px;
    }
    header div.header_info p{
        font-size: 16px;
    }
}
@media(max-width: 450px) {
    header .overlay {
        height: 290px;
        width: 100%;
    }
    header div.header_info {
        top: 38%;
    }
    #showcase .owl-item img {
        height: 290px;
        width: 451px;
        overflow-x: hidden !important;
    }
    header h1 {
        font-size: 26px;
        color: white;
    }
    header div.header_info p{
        font-size: 16px;
        line-height: 1.4;
    }
}
@media(max-width: 400px){
    #showcase .owl-item img {
        height: 280px;
        width: 401px;
        overflow-x: hidden !important;
    }
    header .overlay {
        height: 280px;
        width: 100%;
    }
    header div.header_info h1{
        font-size: 25px;
    }
    header div.header_info p{
        font-size: 15px;
    }
}
/* IE10+ CSS styles go here */
/**ie and edge overlay and stylings**/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
    .owl-carousel, section#testimony  {
        display: none;
        visibility: hidden;
    }
    
    header {
        background: url('../images/index-img/adeptal welcome.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        height: 550px;
        color: white;
    }
    header #ie_and_edge_header {
        visibility: visible;
        display: block;
    }
}
@media (max-width: 800px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
    header {
        height: 400px;
    }
}
@media (max-width: 600px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
    header {
        height: 300px;
    }
}
@media (max-width: 400px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
    header {
        height: 280px;
    }
}

/* IE Edge 12+ CSS styles go here */ 
@supports (-ms-accelerator: true) {
    /* IE Edge 12+ CSS styles go here */ 
    .owl-carousel, section#testimony {
        visibility: hidden;
        display: none;
    }
    header {
        background: url('../images/index-img/adeptal welcome.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        height: 550px;
        color: white;
    }
    header #ie_and_edge_header {
        visibility: visible;
        display: block;
    }
    @media(max-width: 800px) {
        header {
            height: 400px !important;
        }
    }
    @media(max-width: 600px) {
        header {
            height: 300px !important;
        }
    }
    @media(max-width: 400px) {
        header {
            height: 280px !important;
        }
    }

}/**end of ie and edge browsers styles**/



/*main content*/
/*services */
#services {
    padding-top: 150px;
    padding-bottom: 120px;
    background: white;
}
#services .thumbnail {
    padding: 0px !important;
    border-radius: 3px !important;
    border: 0 !important;
    margin: 0 auto 50px auto;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0, 0.2);
}
@media(min-width: 350px) {
    #services .thumbnail {
        width: 300px;
    }
}
#services .thumbnail img {
    width: 100%;
    height: 180px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
#services h3 {
    color: black !important;
    margin-top: 30px;
}
#services i {
    color: #09C924;
}
#services .thumbnail .caption h4 span{
    font-size: 16px;
    font-family: Baloo;
    color: rgba(0,0,0, 0.8);
}
#services .thumbnail .caption {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
}
#services .thumbnail .poster {
    cursor: pointer;
    position: relative !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#services .thumbnail .poster .overlay-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128,0,128, 0.5);
    padding: 2%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
#services .thumbnail .poster .overlay-info .dark_product_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    opacity: 1;
    padding: 2%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    -ms-animation-duration: 0.8s;
}
#services .thumbnail .poster .overlay-info p {
    margin-top: 5%;
    color: white;
    font-size: 14px;
}

@media(max-width: 770px){
    #services {
        padding-top: 30px;
        margin-top: 0px;
        padding-bottom: 80px;
        margin-bottom: 0px;
    }
    #services h2 {
        font-size: 20px;
    }
    #services .title-line {
        margin-bottom: 20px;
    }
}
/**industries section**/
#industries {
    position: relative;
    padding-top: 100px;
    padding-bottom: 70px;
    background: #F5F5F5;
}
#industries .container {
    background: white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.15)
}

@media(max-width: 767px) {
    #industries .container {
        margin-right: 10% !important;
        margin-left: 10% !important;
    }
}
#industries .container > .row {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.circle-bordered {
    height: 60px;
    width: 60px;
    background: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    border: 6px solid white;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0, 0.1)
}
#industries #more_row {
    padding: 6px;
    margin: 0 !important;
    border-top: 1px solid #F5F5F5;
}
#industries h2 {
     color: #CCC8C8;
 }
#industries i {
    color: #CCC8C8;
}
#industries i:not(.fa-bank) {
    font-size: 14px;
}
#industries h4 {
    font-family: Josefin;
    font-size: 19px;
    color:  #CCC8C8;
    font-weight: bold;
}
#industries .container .btn-primary {
    width: 150px;
}
@media(max-width: 770px) {
    #industries {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    #industries h2 {
        font-size: 22px;
    }
    #industries .title-line {
        margin-bottom: 50px;
    }
}
/**why adeptal **/
#why_adeptal {
    padding: 60px 0;
    background: white;
    color: black;
}
#why_adeptal .content {
    padding-bottom: 30px;
    padding-top: 30px;
}
#why_adeptal i {
    color: #09C924;
}
#why_adeptal h4 {
    color: rgba(0,0,0, 0.8);
    font-size: 20px;
}
#why_adeptal p {
    font-size: 18px;
}
@media(max-width: 770px) {
    #why_adeptal {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #why_adeptal h2 {
        font-size: 22px;
    }
    #why_adeptal .title-line {
        margin-bottom: 40px;
    }
}
/**testimonies**/
#testimony {
    padding: 150px 0 150px 0;
    background: #FCFCFC;
}
 #testimony h2 {
     color: #CCC8C8;
 }

#testimony > div > i {
    color: #CCC8C8;
}
#testimony i {
    color: dodgerblue;
}
#testimony p {
    color: gray;
}
#testimony .testimony-carousel .item h4 {
    color: rgba(0,0,0, 0.5);
    font-size: 20px;
}
#testimony .title-line {
    border-color: #09C924 !important;
}
@media(max-width: 770px) {
    #testimony {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #testimony h2 {
        font-size: 22px;
    }
    #testimony .title-line {
        margin-bottom: 50px;
    }
}
#why_adeptal h2, #testimony h2, #services h2, #industries h2, #why_adeptal h4 {
    font-family: Baloo;
}



