/**nav stylings are in the general.css**/

/**header**/
header {
    background-image: url('../images/solution-img/hero.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    position: relative;
}

header .container #header-info {
    color: white;
    z-index: 1;
    position: absolute;
    top: calc(50% - 25px);
    bottom: calc(50% - 25px);
    right: calc(50% - 150px);
    left: calc(50% - 150px);
}

header .container #header-info p {
    font-size: 17px;
    line-height: 1.6;
}

header .overlay, #safety .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

@media(max-width: 500px) {
    header {
        height: 280px;
    }
}

i.page-icon {
    color: dodgerblue;
    position: absolute;
    top: calc(100% - 44px);
    left: 10%;

}

/**sustainability at Adeptal**/
#sustain_at_adeptal {
    padding: 200px 0;
}

section#sustain_at_adeptal p {
    font-size: 17px;
    line-height: 1.6;
}

/**supply Chain**/
#supply_chain {
    padding: 200px 0;
    background: #E4DEDE;
}

section#supply_chain p {
    font-size: 17px;
    line-height: 1.6;
}



/**safety**/
section#safety {
    padding: 150px 0;
    background-image: url('../images/index-img/adeptal.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative; 
}

section#safety .well {
    padding: 10% 10% !important;
    margin-top: 60px;
    border-radius: 0 !important;
    border: 0 !important;
    color: white !important;
}

section#safety .well h4 {
    font-size: 20px;
    color: white;
}

section#safety .well p {
    font-size: 17px;
    line-height: 1.6;
    margin-top: 20px;
}

/**Sustainable Solution Section**/
section#sus_solution {
    padding: 200px 0;
}

section#sus_solution p {
    font-size: 17px;
    line-height: 1.6;
}




/**footer**/
footer {
    background: lightgrey;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 15px;
}

