/**nav stylings are in the general.css**/

/**header**/
header {
    background-image: url('../images/solution-img/hero.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 440px;
    position: relative;
}

header .container #header-info {
    color: white;
    z-index: 1;
    position: absolute;
    top: 45%;
    bottom: 0;
    right: 0;
    left: 0;
}

header .container #header-info p {
    font-size: 17px;
    line-height: 1.6;
}

header .overlay, #safety .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
i.page-icon {
    color: dodgerblue;
    position: absolute;
    top: 89%;
    left: 8%;
}
@media(max-width: 500px) {
    header {
        height: 280px;
    }
    header .container #header-info h1 {
        font-size: 26px;
    }
    header .container #header-info p {
        font-size: 15px;
        line-height: 1.5;
    }
}
@media(max-width: 400px) {
    header .container #header-info h1 {
        font-size: 23px;
    }
    header .container #header-info p {
        font-size: 14px;
        line-height: 1.4;
    }
}

/**sustainability at Adeptal**/
#sustain_at_adeptal {
    padding: 140px 0 150px 0;
}

section#sustain_at_adeptal p {
    font-size: 16px;
    line-height: 1.6;
}





/**supply Chain**/
#supply_chain {
    padding: 200px 0;
    background: #E4DEDE;
}

section#supply_chain p {
    font-size: 17px;
    line-height: 1.6;
}

/**safety**/
section#safety {
    padding: 150px 0;
    background-image: url('../images/index-img/adeptal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative; 
}

section#safety .well {
    padding: 10% 10% !important;
    border-radius: 0 !important;
    border: 0 !important;
    color: white !important;
}

section#safety .well h4 {
    font-size: 20px;
    color: white;
}

section#safety .well p {
    font-size: 17px;
    line-height: 1.6;
    margin-top: 20px;
}

/**Sustainable Solution Section**/
section#sus_solution {
    padding: 200px 0;
}

section#sus_solution p {
    font-size: 17px;
    line-height: 1.6;
}

@media(max-width: 768px) and (min-width: 390px) {
    section > .container > .row > div.col-lg-6 > p, .solution_paragraphs > p{
        width: 380px;
        margin-left: auto;
        margin-right: auto
    }
}


@media(max-width: 770px) {
    #sustain_at_adeptal {
        padding: 80px 0;
    }
    #supply_chain {
        padding: 80px 0;
    }
    section#safety {
        padding: 80px 0;
    }
    section#sus_solution {
        padding: 80px 0;
    }
}

@media(max-width: 770px) {
    section > .container > .row > .col-lg-12 >  i {
        font-size: 40px !important;
    }
}
@media(max-width: 500px) {
    section > .container > .row > .col-lg-12 > h3 {
        font-size: 22px;
    }
    .solution_paragraphs, .solution_paragraphs > p {
        font-size: 15px !important;
        line-height: 1.5 !important;
    }
    section#safety .well h4 {
        font-size: 19px;
    }
}

@media(max-width: 400px) {
    section > .container > .row > .col-lg-12 > h3 {
        font-size: 19px;
    }
    .solution_paragraphs, .solution_paragraphs > p {
        font-size: 14px !important;
        line-height: 1.4 !important;
    }
    section#safety .well h4 {
        font-size: 17px;
    }
}
